


<div class="newrecipe" id="background">
<div id="the-table-recipe2" style=color:white;>
  <h1>Editing Instructions</h1>
  <%= render 'editform2', instruction: @instruction, recipe: @recipe %>
  <%= link_to 'Show', @recipe %> |
  <%= link_to 'Back', update_ingredient_path %>
</div>
</div>
