<div class="newrecipe" id="background">
<span id="the-table-recipe">
<h1>Link us to an image!</h1>
<%= render 'form3', image: @image, recipe: @recipe%>
<%= link_to 'Back', Category.find(@recipe.category_id) %>
</span>
</div>
