<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description
      # @ingredient.where(id: @recipe.id)
      # @instruction.where(id: @recipe.id)

  %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
