.welcome {color: white; background-image: url("https://media.giphy.com/media/Mn2bDsPD8oo48/giphy.gif"); height: 100vh; margin: 0; padding: 0;}
<<<<<<< HEAD
=======

>>>>>>> 36f5257b2f8548f6b4cb11ca1cb24d48ceadcd5f
#greet {
  font-family: 'Courgette', cursive;
  font-size: 100px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  transform: translate(0, 2000%)
}
